@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

html{
    scroll-behavior: smooth;

    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family : 'Fredoka', sans-serif;
}

.container {
    margin-top : 4%;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
		color: #fff;
        font-size: 70px;
		text-transform: uppercase;
        -webkit-text-stroke: 2px black;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-emphasis-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 3s linear infinite;
		display: inline-block;
	}


@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.container #subtitle{
    font-size: 20px;
    margin-bottom: 3%;
}

.container #input {
    width : 24%;
    font-size: 20px;
    text-align: center;
    padding:15px 10px;
    line-height:140%;

    border-radius: 40px;
    border: 2px solid rgb(0, 162, 255);

    
}

.container #button {
    margin-top: 2%;
    padding:10px 10px;
    border-radius: 10px;
    background-color: white;
    color : rgb(0, 162, 255);
    border: 2px solid rgb(0, 162, 255);
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 15%;    
}

.container #button:hover{
    background-color: rgb(0, 162, 255);
    color : white;
}

.block {
    width: 60%;
    border : 1px solid black;
    margin-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 30px;

}

.block #ville {
    font-size : 30px;
    text-decoration: underline;

}



.block #weather {
    text-align: start;
    font-size: 20px;
    margin-top: 0;  
    margin-bottom: 40px;
}

.block #temp {
    text-align: start;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 40px;
}

#meteo {
    font-size: 25px;

}



.inline-content {
    display : flex;
    justify-content: space-between;

}

.acdiv {
    display:flex;
    flex-direction: column;    
    width : 100%;
    align-items: center;
}

.acdiv *{
    vertical-align: top;
}

#autocompletion{
    width: 25%;
    background-color: white;
    border: 0px solid grey;
    line-height:1.5;
}

#autocompletion p {
    margin: 0 0 0 0;
    padding: 0 5px 0 5px;
}

#autocompletion p:hover {
    background-color:aliceblue;
    cursor:default;
}


